@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    text-decoration: none;
    
    font-family: 'Ubuntu', sans-serif;
    
}

body{

}
.header{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
   background-color: #F7F7F7;
 
}
.nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

}
.nav>li{
    margin-left: 35px;
}
.nav>li>a{
    color: #202020;
}
.logo_img{
    display: block;
    width: 58px;
    height: 58px;
    background-image: url("../img/logo.svg");
    margin-right: 20px;
}
.logo_text{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
}
.logo{
    display: flex;
    align-items: center;
}
.nav_btn{
    display: flex;
    font-weight: 700;
    border: none;
    background-color: #5528FF;
    border-radius: 5px;
    color: #fff;
    padding: 7px 25px;
}
.title-main{
    font-size: 57px;
    color: #202020;
    font-weight: 700;
}
.text_main{
    width: 200px;
    font-size: 32px;
    line-height: 1.5;
    color: #4f4f4f;
}

.wrap{
     max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.button{
    font-size: 24px;
    display: flex;
    border: none;
    background-color: #5528FF;
    border-radius: 10px;
    color: #fff;
    padding: 14px 55px;
}
.page{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.page-top{
    border-top: 1px solid #C2C2C2;
}
.page h2{
    position: absolute;
    top: -25px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    padding: 5px 15px;
    color: #C2C2C2;
}
.services{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap:20px;
}
.services_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.services h3{
    font-size: 28px;
    font-weight: 400;
}
.services p{
    font-size: 14px;
    color: #b2b2b2;
    line-height: 1.5;
}
.services_img{
 
   width: 80px;
}
.services_text{
margin-left: 50px;
}

.services_img1{
 
    width: 80px;
    padding-left: 40px;
 }
 .services_img4{
 
    width: 80px;
    padding-left: 20px;
 }
 .clients{
    display: grid;
    width: 100%;
    grid-template: repeat(3, 1fr) / repeat(4, 25%);
    grid-row-gap: 50px;
    text-align: center;
 }
 .clients-item{
     width: 185px;
 }
 .team{
     display: grid;
     grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    text-align: start;
    grid-gap: 50px;

 }
 .team-item{
     display: flex;
 }
 .team-text{
     margin-left: 40px;
 }
 .team-text h3{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #202020;
 }
 .team-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #B2B2B2;
 }
.social{
    display: flex;
    list-style-type: none;
    padding-left: 0;

}
.social>li>a{
    margin-left: 15px;
    color: #b2b2b2;
    font-size: 24px;
}
.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
